# Cmake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# other created files/folders
Doxyfile
config.h
versioninfo.rc
libdiscid.pc
docs/
include/discid/discid.h

# Autotools files
ar-lib
configure
config.guess
config.log
config.status
config.sub
config.h.in
Makefile.in
aclocal.m4
autom4te.cache/
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
.deps
.libs
# autopoint files
ABOUT-NLS
config.rpath
config.h.in~
m4/
po/Makevars.template
po/Rules-quot
po/POTFILES
po/stamp-po
po/*.in
po/*.sin
po/*.header
po/*.sed

# Visual Studio files
*.suo
*.vcxproj*
libdiscid.sln
libdiscid.sdf
libdiscid.opensdf
Debug/

# Build results
libdiscid.so*
test_discid
discisrc
/discid
examples/discid
*.exe
*.dll
*.lo
*.o
*.la
.dirstamp
po/*.gmo
