name: Build

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Build and test
      run: |
        mkdir build
        cd build
        cmake ..
        make
        make check

  package-source:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Make source tarball
      run: |
        ./autogen.sh
        ./configure && make distcheck
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: libdiscid-source
        path: libdiscid-*.tar.gz

  package-windows:
    runs-on: windows-2019
    env:
      GENERATOR: Visual Studio 16 2019
    steps:
    - uses: actions/checkout@v3
    - name: Prepare package
      run: |
        mkdir artifacts
        cp .\COPYING artifacts
        cp .\README artifacts
        cp .\ChangeLog artifacts
    - name: Build x64
      run: |
        mkdir _build_$env:ARCH
        cd _build_$env:ARCH
        cmake -G $env:GENERATOR -A $env:ARCH ..
        cmake --build . --config Release
        mkdir ..\artifacts\$env:ARCH
        cp .\Release\* ..\artifacts\$env:ARCH
        cp -R .\include ..\artifacts
      env:
        ARCH: x64
    - name: Build Win32
      run: |
        mkdir _build_$env:ARCH
        cd _build_$env:ARCH
        cmake -G $env:GENERATOR -A $env:ARCH ..
        cmake --build . --config Release
        mkdir ..\artifacts\$env:ARCH
        cp .\Release\* ..\artifacts\$env:ARCH
      env:
        ARCH: Win32
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: libdiscid-windows
        path: artifacts/
    - name: Test x64
      run: |
        cd _build_x64
        cmake --build . --config Release --target test_core test_put test_read test_read_full
        .\Release\test_core.exe
        .\Release\test_put.exe
    - name: Test Win32
      run: |
        cd _build_Win32
        cmake --build . --config Release --target test_core test_put test_read test_read_full
        .\Release\test_core.exe
        .\Release\test_put.exe

  package-macos:
    runs-on: macos-11
    env:
      MACOSX_DEPLOYMENT_TARGET: "10.10"
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -D "CMAKE_OSX_ARCHITECTURES=arm64;x86_64" ..
        make
        lipo libdiscid.0.dylib -verify_arch arm64 x86_64
    - name: Package
      run: |
        cd build
        mkdir -p artifacts/universal2
        cp -Lv libdiscid.0.dylib artifacts/universal2/
        for arch in arm64 x86_64; do
          mkdir -p "artifacts/${arch}"
          lipo artifacts/universal2/libdiscid.0.dylib \
            -thin $arch \
            -output artifacts/${arch}/libdiscid.0.dylib
        done
        cp -Rv include artifacts/
        cp -v ../COPYING ../README ../ChangeLog artifacts
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: libdiscid-macos
        path: build/artifacts

  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
    - test
    - package-source
    - package-macos
    - package-windows
    steps:
    - uses: actions/checkout@v3
    - name: Set version
      run: |
        TAG=${GITHUB_REF##*/}
        echo "VERSION=$(echo $TAG | sed 's/^v//')" >> $GITHUB_ENV
    - uses: actions/download-artifact@v3
      with:
        name: libdiscid-windows
        path: artifacts/libdiscid-windows-${{ env.VERSION }}/
    - uses: actions/download-artifact@v3
      with:
        name: libdiscid-macos
        path: artifacts/libdiscid-macos-${{ env.VERSION }}/
    - uses: actions/download-artifact@v3
      with:
        name: libdiscid-source
        path: artifacts/release/
    - name: Make zips
      run: |
        cd artifacts/
        dirs=$(find . -name 'libdiscid-*' -type d)
        for dir in $dirs; do
          name=$(basename $dir)
          zip -r release/$name.zip $dir/*
        done
    - name: Generate checksums
      run: |
        cd artifacts/release/
        sha256sum * > SHA256SUMS
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: artifacts/release/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}